body {
	
	background-color: white;
	margin: 3px;
	padding: 3px;
	font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size   : 11px;
}
table { 
	border-collapse: collapse; 
	border:1px black solid;
	width:100%;
}

table th {
	background-color:#E8EBF0;
	border:1px solid #ccc;
	text-align:left;
	font-weight:bold;
	color : #666;
	
}
table td{
	border:1px solid #ccc;
}
table tr.highlight{
	background-color:yellow;
}


a:visited, a:link, a:hover  {
	font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #505B88;
}

a:hover {
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.window-titlebar {
			background-color: #E8EBF0; 
			padding: 5px; 
			margin-bottom: 5px;f
			border:1px solid #ccc;}
.window-close {float: right}
.window-title {}
.window-content {clear: both; }